* {
  box-sizing: border-box;
}
@media screen and (min-width: 0) and (max-width: 800px) {
  header {
    background-color: black;
    color: aqua;
    text-shadow: 2px 2px 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    width: 100%;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20pt;
  }
  #readout {
    background-color: black;
    color: aqua;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #readout p {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set font color to white */
    text-shadow: 0px 2px 2px aqua; /* Add an aqua glow effect */
  }
  #card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .dayPane {
    /* border-radius: 10pt; */
    border-color: cornflowerblue;
    background-image: linear-gradient(to right, rgb(85, 85, 241), grey);
    display: flex;
    /* flex: auto; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-style: groove;
    width: 100%;
    font-size: 20pt;
  }
}
@media screen and (min-width: 801px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
  }
  header {
    background-color: black;
    color: aqua;
    text-shadow: 2px 2px 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 20pt;
  }
  #readout {
    background-color: black;
    color: aqua;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #readout p {
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set font color to white */
    text-shadow: 0px 2px 2px aqua; /* Add an aqua glow effect */
  }
  #sidebar {
    background-color: rgb(97, 119, 244);
    text-align: center;
  }
  #day1 {
    background-color: blue;
    height: 300pt;
  }
  #day2 {
    background-color: red;
  }
  #day3 {
    background-color: blue;
  }
  .dayPane {
    border-radius: 10pt;
    border-color: cornflowerblue;
    background-image: linear-gradient(to right, rgb(85, 85, 241), grey);
    flex: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-style: groove;
  }
  ul {
    list-style-type: none;
    text-align: center;
  }
}
